<?xml version="1.0" encoding="UTF-8"?>
<form i18nBaseUri="saml2:settingsform.">
	<tab id="meta" sortorder="10">
		<fieldset id="endpoint" sortorder="10">
			<field name="sso_endpoint_root"   sortorder="10" control="textinput" required="true" />
		</fieldset>
		<fieldset id="organisation" sortorder="20">
			<field name="organisation_short_name" sortorder="10" control="textinput" required="true" />
			<field name="organisation_full_name"  sortorder="20" control="textinput" required="true" />
			<field name="organisation_url"        sortorder="30" control="textinput" required="true" />
		</fieldset>
		<fieldset id="support" sortorder="30">
			<field name="support_person"          sortorder="10" control="textinput" required="true" />
			<field name="support_email"           sortorder="20" control="textinput" required="true" />
		</fieldset>
	</tab>
	<tab id="debug" sortorder="20">
		<fieldset id="debug" sortorder="10">
			<field name="debug_logs" sortorder="10" control="enumRadioList" enum="saml2DebugOptions" default="off" />
		</fieldset>
	</tab>
</form>